
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --acme-background: oklch(0.94 0 0); /* light-mode background */
    --acme-surface:    oklch(0.984 0 0); /* light-mode card */
    --acme-emphasis:   oklch(1.00 0 0); /* light-mode highlights */
    --acme-foreground: oklch(0.00 0 0); /* <-- primary readable text */
    --acme-muted:      oklch(0.40 0 0); /* light-mode subtle text/borders */

    --acme-primary:   oklch(0.5579 0.2171 266.29);
    --acme-secondary: oklch(1.00 0 0);
    --acme-success:   oklch(0.7211 0.1577 151.54);
    --acme-warning: oklch(0.7226 0.2491 84.05);
    --acme-danger:    oklch(0.4 0.25 30);
}

[data-theme="dark"] {
    --acme-background: oklch(0.24 0 0); /* very dark gray background */
    --acme-surface:    oklch(0.29 0 0); /* slightly lighter gray panel */
    --acme-emphasis:   oklch(0.35 0 0); /* bright accent (like ~87% white for emphasis) */
    --acme-foreground: oklch(0.99 0 0); /*  primary readable text */
    --acme-muted:      oklch(0.65 0 0); /* medium gray for less-important text */

    --acme-primary:   oklch(0.5879 0.2171 266.29);
    --acme-secondary: oklch(0.35 0 0);
    --acme-success:   oklch(0.7211 0.1577 151.54);
    --acme-warning: oklch(0.8226 0.2491 84.05);
    --acme-danger:    oklch(52% 0.19265 29.223);
}

@theme inline {
    --color-background: var(--acme-background);
    --color-surface: var(--acme-surface);
    --color-emphasis: var(--acme-emphasis);
    --color-foreground: var(--acme-foreground);
    --color-muted: var(--acme-muted);

    --color-primary:   var(--acme-primary);
    --color-secondary: var(--acme-emphasis);
    --color-success:   var(--acme-success);
    --color-warning:    var(--acme-warning);
    --color-danger:    var(--acme-danger);
}


@theme {

    /* colors */
    --color-white: oklch(0.99 0 0);
    --color-black: oklch(0.00 0 0);

    /* breakpoints */
    --breakpoint-xs: 480px;
    --breakpoint-2xs: 320px;
    --breakpoint-3xs: 280px;


    /* text */
    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    /* blur */
    --blur-2xs: 2px;
    --blur-3xs: 1px;
}


@layer base {


    *{
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;

        transition: all;
        transition-duration: 150ms;
    }

    body {
        @apply bg-background overflow-x-hidden;
    }

    main {
        @apply flex flex-col items-center overflow-x-hidden;
    }

    main section {
        @apply pt-22 md:pt-24;
    }

    .navbar-height {
        @apply h-20 md:h-22;
    }

    section {
        @apply px-3 sm:px-6 md:px-9;
    }

    footer {
        @apply px-2 sm:px-4 md:px-8;

        min-height: 40svh;
        min-height: 40dvh;
        min-height: 40vh;
    }

    h1, h2, h3, h4, button, svg {
        @apply text-foreground;
    }

    p, a, span, label {
        @apply text-muted hover:text-foreground/75;
    }

    a, button {
        @apply cursor-pointer;
    }

    th {
        @apply text-sm text-start text-muted/45 hover:text-foreground active:text-foreground;
    }

    ::selection {
        @apply bg-primary/25 text-black;
    }

    .content-container {
        @apply max-w-360 mx-auto;
    }

    .min-h-hero {
        @apply min-h-max h-[calc(100svh-1rem+4.5rem)] md:h-[calc(100svh+2rem-5rem)];
    }

    .h-hero {
        @apply h-[calc(100svh-1rem)] md:h-[calc(100svh-2rem)];
    }

    /* Scroll Mimimal Style */
    .min-scrollbar::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    .min-scrollbar::-webkit-scrollbar-track {
        @apply bg-muted/15 rounded-full mt-3 mb-3;
    }

    .min-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-muted/50 rounded-full;

    }

    .active {
        @apply bg-emphasis
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary text-black font-medium py-3 px-6 rounded-lg shadow-md hover:bg-primary/90 active:scale-95;
    }

    .btn-secondary {
        @apply bg-secondary text-black font-medium py-3 px-6 rounded-lg shadow-md hover:bg-secondary/90 active:scale-95;
    }

    .text-ellipsis-2line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limits the text to a maximum of 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis; /* Adds the ellipsis (...) at the end of the truncated text */
    }

    .text-ellipsis-3line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limits the text to a maximum of 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis; /* Adds the ellipsis (...) at the end of the truncated text */
    }


    /* Chat */

    .message__meta--send {
        @apply text-right;
    }

    .message--send {
        @apply justify-self-end;
    }

    .message--text--received {
        @apply bg-emphasis ring-1 ring-muted/10;
    }

    .message--text--send {
        @apply text-white bg-primary;
    }


    /* react select lib */

    .react-select-container {
        @apply bg-red-500 rounded-xl;
    }
}

@layer utilities {

    .order-status-pending {
        @apply text-amber-900 border border-amber-300/25 bg-amber-300/25;
    }

    .order-status-in_progress {
        @apply text-sky-900 border border-sky-300/25 bg-sky-300/25;
    }

    .order-status-complete {
        @apply text-emerald-900 border border-emerald-300/25 bg-emerald-300/25;
    }

    .order-status-rejected {
        @apply text-rose-900 border border-rose-300/25 bg-rose-300/25;
    }

    .order-status-canceled {
        @apply text-zinc-900 border border-zinc-300/25 bg-zinc-300/25;
    }
}