@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --acme-background: oklch(0.92 0 0);
    /* light-mode background */
    --acme-surface: oklch(0.96 0 0);
    /* light-mode card */
    --acme-emphasis: oklch(0.996 0 0);
    /* light-mode highlights */
    --acme-foreground: oklch(0.00 0 0);
    /* <-- primary readable text */
    --acme-muted: oklch(0.40 0 0);
    /* light-mode subtle text/borders */

    --acme-primary: oklch(0.5294 0.293075 293.6103);
    --acme-secondary: oklch(1.00 0 0);
    --acme-success: oklch(0.7211 0.1577 151.54);
    --acme-warning: oklch(0.7226 0.2491 84.05);
    --acme-danger: oklch(0.4 0.25 30);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
    --color-background: var(--acme-background);
    --color-surface: var(--acme-surface);
    --color-emphasis: var(--acme-emphasis);
    --color-foreground: var(--acme-foreground);
    --color-muted: var(--acme-muted);

    --color-primary: var(--acme-primary);
    --color-secondary: var(--acme-emphasis);
    --color-success: var(--acme-success);
    --color-warning: var(--acme-warning);
    --color-danger: var(--acme-danger);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@theme {

    /* colors */
    --color-white: oklch(0.99 0 0);
    --color-black: oklch(0.00 0 0);

    /* breakpoints */
    --breakpoint-xs: 480px;
    --breakpoint-2xs: 320px;
    --breakpoint-3xs: 280px;

    /* text */
    --text-2xs: 0.625rem;
    --text-3xs: 0.5rem;

    /* blur */
    --blur-2xs: 2px;
    --blur-3xs: 1px;
}

@layer base {

    * {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;

        transition: all;
        transition-duration: 150ms;
    }

    body {
        @apply bg-background overflow-x-hidden;
    }

    main {
        @apply flex flex-col items-center overflow-x-hidden;
    }

    .navbar-height {
        @apply h-20 md:h-22;
    }

    main section {
        @apply pt-4 md:pt-6;
    }

    section {
        @apply px-3 sm:px-6 md:px-9;
    }

    footer {
        @apply px-2 sm:px-4 md:px-8;

        min-height: 40svh;
        min-height: 40dvh;
        min-height: 40vh;
    }

    h1,
    h2,
    h3,
    h4,
    button,
    svg {
        @apply text-foreground;
    }

    p,
    a,
    span,
    label {
        @apply text-muted hover:text-foreground/75;
    }

    a,
    button {
        @apply cursor-pointer;
    }

    th {
        @apply text-sm text-start text-muted/45 hover:text-foreground active:text-foreground;
    }

    ::selection {
        @apply bg-primary/25 text-black;
    }

    .content-container {
        @apply max-w-360 mx-auto;
    }

    .min-h-hero {
        @apply min-h-max h-[calc(100svh-1rem+4.5rem)] md:h-[calc(100svh+2rem-5rem)];
    }

    .h-hero {
        @apply h-[calc(100svh-1rem)] md:h-[calc(100svh-2rem)];
    }

    /* Scroll Mimimal Style */
    .min-scrollbar::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    .min-scrollbar::-webkit-scrollbar-track {
        @apply bg-muted/15 rounded-full mt-3 mb-3;
    }

    .min-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-muted/50 rounded-full;

    }

    .active {
        @apply bg-emphasis/50;
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply w-1.5 h-1.5;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-muted/5 rounded-full;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-muted/20 rounded-full hover:bg-muted/30 transition-colors;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary text-black font-medium py-3 px-6 rounded-lg shadow-md hover:bg-primary/90 active:scale-95;
    }

    .btn-secondary {
        @apply bg-secondary text-black font-medium py-3 px-6 rounded-lg shadow-md hover:bg-secondary/90 active:scale-95;
    }

    .text-ellipsis-1line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* Limits the text to a maximum of 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        /* Adds the ellipsis (...) at the end of the truncated text */
        word-break: break-all;
    }

    .text-ellipsis-2line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limits the text to a maximum of 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        /* Adds the ellipsis (...) at the end of the truncated text */
        word-break: break-all;
    }

    .text-ellipsis-3line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limits the text to a maximum of 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        /* Adds the ellipsis (...) at the end of the truncated text */
    }

    /* Chat */

    .message__meta--send {
        @apply text-right;
    }

    .message--send {
        @apply justify-self-end;
    }

    .message--text--received {
        @apply bg-emphasis ring-1 ring-muted/10;
    }

    .message--text--send {
        @apply text-white bg-primary;
    }

    /* react select lib */

    .react-select__control {
        @apply text-sm text-muted px-3 border border-muted/25 hover:border-muted/45 focus-within:border-primary/45 rounded-lg bg-emphasis/75;
    }

    .react-select__value-container {
        @apply text-sm;
    }

    .react-select__menu {
        @apply space-y-4 border border-muted/25 mt-2 rounded-lg bg-surface overflow-hidden;
    }

    .react-select__menu-list {
        @apply max-h-60 overflow-y-auto py-2;
    }

    .react-select__option {
        @apply p-2 border-b border-muted/10 hover:bg-emphasis overflow-y-auto cursor-pointer;
    }

    /* confirm popup */

    .confirm-dialog-overlay {
        @apply absolute top-0 left-0 flex items-center justify-center w-full h-full z-100 bg-muted/45;
    }

    .confirm-dialog {
        @apply p-8 bg-background;
    }
}

@layer utilities {

    .request-status-submitted,
    .request-status-new,
    .request-status-pending {
        @apply text-blue-900 border border-blue-300/25 bg-blue-300/20;
    }

    .request-status-under-review {
        @apply text-amber-900 border border-amber-300/25 bg-amber-300/20;
    }

    .request-status-approved {
        @apply text-emerald-900 border border-emerald-300/25 bg-emerald-300/20;
    }

    .request-status-in-progress,
    .request-status-in_progress {
        @apply text-indigo-900 border border-indigo-300/25 bg-indigo-300/20;
    }

    .request-status-completed {
        @apply text-purple-900 border border-purple-300/25 bg-purple-300/20;
    }

    .request-status-rejected {
        @apply text-rose-900 border border-rose-300/25 bg-rose-300/20;
    }

    .request-status-cancelled,
    .request-status-canceled {
        @apply text-zinc-900 border border-zinc-300/25 bg-zinc-300/20;
    }

    .swiper-button-next,
    .swiper-button-prev {
        @apply p-2.5 md:p-2 bg-white/50 rounded-full;
    }


    .phone-verified {
        @apply text-emerald-900 border border-emerald-300/25 bg-emerald-300/25;
    }

    .phone-not-verified {
        @apply text-amber-900 border border-amber-300/25 bg-amber-300/25;
    }
}